@page "/"

<div class="h-100 d-flex align-items-center justify-content-center">
    <h3>Welcome to Stock info app. Please sign in</h3>
    @* <a href="/register" class="btn btn-primary btn-lg">Register</a> *@
    @* <a href="/signin" class="btn btn-primary btn-lg">Sign in</a> *@
</div>