@page "/search"

@if (!_isAuthenticated)
{
    <h1>You are not authorized to access this page</h1>
}
else
{
    <h3>Search</h3>
    <SearchComponent/>
}

@code
{
    [CascadingParameter]
    protected Task<AuthenticationState> AuthenticationState { get; set; }

    private bool _isAuthenticated;

    protected override async Task OnInitializedAsync()
    {
        var user = (await AuthenticationState).User;
        if (user.Identity.IsAuthenticated)
        {
            _isAuthenticated = true;
        }
    }
}
