@inject HttpClient _httpClient
@using Blazored.LocalStorage
@using Client.Services
@using Microsoft.IdentityModel.JsonWebTokens
@inject IUserService _userService
@inject IJSRuntime _jsRuntime

<a @onclick="@AddToWatchList" class="btn btn-primary">Add to watchlist</a>

@code {

    private async void AddToWatchList()
    {
        await _userService.AddToWatchlist(Username, Ticker);

    }

    [Inject]
    AuthenticationStateProvider AuthenticationStateProvider { get; set; }

    [Inject]
    ILocalStorageService _localStorageService { get; set; }

    private string Username { get; set; }

    [Parameter]
    public string Ticker { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (await _localStorageService.ContainKeyAsync("bearerToken"))
        {
            string savedToken = await _localStorageService.GetItemAsync<string>("bearerToken");

            var handler = new JsonWebTokenHandler();
            Username = handler.ReadJsonWebToken(savedToken).Subject;
        }
    }

}