@inherits ChartBase
@using global::Shared.Models.Aggregates
@inject IIgniteUIBlazor _igniteUiBlazor

@if (Aggregates == null && ErrorMessage == null)
{
    <p>Loading...</p>
}
else if (ErrorMessage != null)
{
    <DisplayError ErrorMessage="@ErrorMessage"></DisplayError>
}
else
{
    <div class="container vertical">
        <div class="container vertical">
            <IgbFinancialChart Width="1000px"
                               Height="400px"
                               ChartType=FinancialChartType.Candle
                               Thickness=2
                               DataSource="Aggregates"
                               ZoomSliderType="FinancialChartZoomSliderType.None"
                               YAxisMode="FinancialChartYAxisMode.Numeric"
                               />
        </div>
    </div>
}