@using IgniteUI.Blazor.Controls
@using Client.Services
@inject IIgniteUIBlazor _igniteUiBlazor
@inherits ListBase
@inject HttpClient _httpClient

@if (@Watchlist == null)
{
    <Spinner/>
}
else if (Watchlist.Count == 0)
{
    <h3>No stocks added to the watchlist!</h3>
}
else
{
    <div class="container">
        <h2 class="p-3 text-center">Watchlist</h2>
        <table class="table table-striped table-bordered table table-responsive">
            <thead>
            <tr>
                <th></th>
                <th class="align-middle text-center">Ticker</th>
                <th class="align-middle text-center">Name</th>
                <th class="align-middle text-center">Market Identifier</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Watchlist)
            {
                <tr>
                    <td>
                        <div class="d-flex align-items-center justify-content-center p-1">
                            <img src="@item.ImgUrl" alt=""
                                 style="max-width:180px; max-height:90px; width: auto; height: auto">
                        </div>
                    </td>
                    <td class="align-middle text-center">
                        @item.TickerSymbol
                    </td>
                    <td class="align-middle text-center">
                        @item.Name
                    </td>
                    <td class="align-middle text-center">
                        @item.MarketIdentifier
                    </td>
                    <td class="align-middle">
                        <div class="col-md-12 text-center">
                            <a class="btn btn-primary" href="/stocks/@item.TickerSymbol">Details</a>
                            <a class="btn btn-danger" @onclick="() => DeleteFromWatchList(item.TickerSymbol)">Delete</a>
                        </div>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    <Confirm @ref="DeleteConfirmation" ConfirmationChanged="ConfirmDeleteClick"></Confirm>
}

@code {

    protected override void OnInitialized()
    {
        IgbDataGridModule.Register(_igniteUiBlazor);
        IgbButtonModule.Register(_igniteUiBlazor);
    }

    private void DeleteFromWatchList(string ticker)
    {
        TickerSymbol = ticker;
        DeleteConfirmation.Show(ticker);
    }

    private async Task ConfirmDeleteClick(bool deleteConfirmed)
    {
        if (deleteConfirmed)
        {
            await UserService.RemoveFromWatchlistAsync(Username, TickerSymbol);
            Watchlist = await UserService.GetWatchlistAsync(Username);
        }
    }

}